@font-face{
    font-family: 'Bariol Regular';
    src: url('fonts/Bariol_Regular.otf');
}

body{
    
    
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style: none;
}

header{
    display: flex;
    justify-content: center;
}

.logo{
    width: 15%;
    height: 15%;
    margin: 5px;
    flex-grow: 1;
}

.nav-item .fas{
    color: white;
}

.carusel{
    display: flex;
    justify-content: center;
    border-top: 2px solid white;
    max-width: 100%;
}

.carusel .carousel-inner .img{
    width: 1000px;
    height: 630px;
}