@font-face{
    font-family: 'Bariol Regular';
    src: url('fonts/Bariol_Regular.otf');
}

body{
    width: 100%;
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style: none;
}

header{

}

.logo{
    flex-grow: 1;
}

.logo img{
    width: 70px;
}

.nav-item .fas{
    color: white;
}

.flex-end{
    justify-content: flex-end;
}

.dropdown-item{
    border-bottom: 1px solid lightgrey;
}

.dropdown-item:last-child{
    border-bottom: none
}